<% form_for(@content, :url => { :action => :destroy, :id => @content } ) do | f | %>
<input type="hidden" name="uuid" value="<%= @content.uuid %>" />
<b>
<p>
Are you sure you want to destroy this Content?
</p>

<p>
<em>THIS ACTION IS NOT RECOVERABLE</em>
</p>

<ul>
<li>All versions and history of this Content will be destroyed.</li>
<li>The destruction will not be captured in any version list.</li>
</ul>

<p>
Confirm: <input type="checkbox" name="confirm" value="" />
</p>

</b>


<input name="commit" type="submit" value="Confirm" />

<% end %>

<%# = render :partial => 'shared/related' %>
