
<%= render :partial => 'contents/list_results', 
           :locals => { 
             :title => 'Matching Content', 
           }
%>

</hr>
<h3>Search Help:</h3>
<ul>
  <li>Matches against <tt>content_key</tt> OR <tt>data</tt> OR <tt>uuid</tt> OR <tt>md5sum</tt> columns using LIKE.
  </li>
  <li>"<tt>%</tt>" matches any character string.
  </li>
  <li>"<tt>_</tt>" matches any single character.
  </li>
  <li>Search can be narrowed using column values: <i>column</i>:<i>value</i>.
  </li>
  <li>Examples:
    <ul>
      <li>
        "<i><tt>content_type:phrase add%</tt></i>"</ br>
        will find any <tt>phrase</tt> content that starts with "<tt>add</tt>".
      </li>
      <li>
        "<i><tt>language:es country:US %hola%</tt></i>"</ br>
        will find any <tt>US</tt> Spanish (<tt>es</tt>) content that contains "<tt>hola</tt>".
      </li>
    </ul>
  </li>
</ul>
